* {
  font-family: "Roboto", sans-serif;
}
footer {
  height: 100px;
  border: 1px black solid;
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: rgb(89, 147, 240);
  height: 55px;
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}
.navBar h4,
img {
  display: block;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  transition: 500ms ease;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}
nav img {
  height: 40px;
  width: auto;
  top: 7px;
  position: relative;
}
.navBar a:hover {
  background: rgb(155, 148, 148);
  cursor: pointer;
  color: black;
  transition: 500ms ease;
}
main {
  /* background-image: url(" https://images.unsplash.com/photo-1511804472014-fa7b871cd6a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 1005px;
  width: 100%;
  opacity: 0.6; */
  margin-top: 45px;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  height: 500px;
  width: 500px;
  border: 1px black solid;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: inherit;
  background-size: cover;
  background-image: url("http://www.mrbartonmaths.com/resources/Catchphrase/Pictures/image9.gif");
  background-repeat: no-repeat;
  background-position: center;
}
#a1,
#a2,
#a3,
#a4,
#a5,
#b1,
#b2,
#b3,
#b4,
#b5,
#c1,
#c2,
#c3,
#c4,
#c5,
#d1,
#d2,
#d3,
#d4,
#d5,
#e1,
#e2,
#e3,
#e4,
#e5 {
  grid-area: inherit;
  border: 1px black solid;
  background: rgb(75, 174, 219);
}

.input {
  position: relative;
  font-size: 2em;
}

.uncovered {
  transition: 2000ms;
  transform: rotate(720deg);
  background: rgba(255, 255, 255, 0);
  border: 0px;
}

#score {
  font-size: 1.5em;
}

@media only screen and (max-width: 400px) {
  #container {
    width: 100%;
    height: 400px;
  }
}
